In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('dataset_Facebook.csv',delimiter=';')

In [ ]:
df

In [ ]:
df.describe()

In [ ]:
# First subset: Like and Share
df_subset_1 = df[['like','share']]
df_subset_1

In [ ]:
# second subset: Comment and Type
df_subset_2 = df[['comment','Type']]
df_subset_2

In [ ]:
merged_data  = pd.merge(df_subset_2, df_subset_1, left_on='comment', right_on= 'like')
merged_data

In [ ]:
# Define a dictionary containing employee data
data1 = {
'key': ['K0', 'K1', 'K2', 'K3'],
'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],
'Age':[27, 24, 22, 32],}
# Define a dictionary containing employee data
data2 = {
'key': ['K0', 'K1', 'K2', 'K3'],
'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'],
'Qualification':['Btech', 'B.A', 'Bcom', 'B.hons']}
# Convert the dictionary into DataFrame
data1 = pd.DataFrame(data1)
# Convert the dictionary into DataFrame
data2 = pd.DataFrame(data2)

# print(df, "\n\n", df1)
res = pd.merge(data1, data2, on='key')
res

In [ ]:
# Sorting merged_data in descending order wrt 'Like'
merged_data.sort_values(by=['like'],ascending=False)

In [ ]:
# Method 1
merged_data.transpose()

In [ ]:
# Method 2
merged_data.T

In [ ]:
df

In [ ]:
df.Type.unique()

In [ ]:
# Reshape
# Comment is id_vars and Type is value_vars
pd.melt(df, id_vars =['Type'], value_vars =['comment'])

In [ ]:
df_temp = pd.DataFrame({'foo': ['one', 'one', 'one', 'two', 'two', 'two'],
                   'bar': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'baz': [1, 2, 3, 4, 5, 6],
                   'zoo': ['x', 'y', 'z', 'q', 'w', 't']})
df_temp

In [ ]:
df_temp.pivot(index='foo', columns='bar', values='baz')